.header {
  /* position: sticky; */
  /* top: 0; */
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #100e29; */
  background-color: transparent;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2rem;
  color: #363740;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #363740;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #1c77ff;
}
